---

---

<style>
  .home {
    min-height: 89vh;
    display: flex;
    align-items: center;
    background-image: url(../img/home2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .home .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
  }

  .home .content h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 1px rgb(205, 215, 17);
    line-height: 1.2;
  }

  .home .content h1 span {
    color: var#26ad14;
    font-size: 2.6rem;
  }

  .home .content p {
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px rgba(1, 1, 3, 1);
    line-height: 1.2;
  }

  .home .content .cta {
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: #26ad14;
    border-radius: 3rem;
    box-shadow: 3px 3px 6px rgba(1, 1, 3, 1);
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
  }
</style>
<layout class="home">
  <main>
    <div></div>
    <div class="content">
      <img
        class="img-home"
        src="../public/img/logo.png"
        alt="deskripsi gambar"
        width="150"
        height="150"
      />
      <h1>
        Penilaian Kinerja Kepala Sekolah <span>Tahun 2023</span>
        <p>lorem ati aki bolem dorm una lara ita</p>
        <a href="/about" class="cta">Tentang kami</a>
      </h1>
    </div>
  </main>
</layout>
<style>
  .footer {
    background: #202020;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    border-top: 1px solid #26ad14;
  }
  .footer p {
    display: block;
    padding-top: 15px;
  }
  .footer span {
    color: #55acee;
    font-weight: bold;
  }

  .footer .social-icon {
    padding-top: 15px;
    padding-bottom: -15px;
    color: #fff;
  }
</style>
<footer class="footer">
  <div class="container">
    <div class="row">
      <p class="wow bounceIn">
        Copyright &copy; nanangriyadi <span>Workforce</span> Studio . Design: <a
          rel="nofollow noopener"
          href="#"><span>templatemu</span></a
        >
      </p>
    </div>
  </div>
</footer>
