---

---

<style>
  .footer {
    background: #202020;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    border-top: 1px solid var(--primary);
  }
  .footer p {
    display: block;
    padding-top: 15px;
  }
  .footer span {
    color: #55acee;
    font-weight: bold;
  }

  .footer .social-icon {
    padding-top: 15px;
    padding-bottom: -15px;
    color: #fff;
  }
</style>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="social-icon wow fadeIn" data-wow-delay="0.3s">
          <i data-feather="facebook"></i>
        </ul>
        <i data-feather="twitter"></i>
        <i data-feather="instagram"></i>
      </div>
      <p class="wow bounceIn">
        Copyright &copy; nanangriyadi <span>Workforce</span> Studio . Design: <a
          rel="nofollow noopener"
          href="#"><span>templatemu</span></a
        >
      </p>
    </div>
  </div>
</footer>
